<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605726570322-9umts1l9nkb066d9eokkaitv0nun66h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605726570322-9umts1l9nkb066d9eokkaitv0nun66h5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605726570322-05spivt92c871vu7smk0vflbp4pnpqiu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6v2vOkAKXVQQmzaNKleL74acyRb17I18</string>
	<key>GCM_SENDER_ID</key>
	<string>605726570322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.legend.freemarket</string>
	<key>PROJECT_ID</key>
	<string>theta-1a323</string>
	<key>STORAGE_BUCKET</key>
	<string>theta-1a323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605726570322:ios:2f6dbbe0bc740fa29aec8b</string>
</dict>
</plist>